.App {
  text-align: center;
  background-image: url("./image/img10.png");
  position:relative;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-item {
  color:black;
  display: flex;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

@keyframes appear {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .2);
}

.modal {
  background-color: #a8d7fe;;
    position: absolute;
    width: 600px;
    height: 400px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    animation: appear 150ms ease-out;
    border: 2px solid #000;
}

.modal-content {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 24px;
}

.login-register-controls-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 36px;
  margin: 0;
  padding: 0 8px;
  border: 2px solid transparent;
  border-radius: 4px;
}
.text-field:focus {
  border: 2px solid rgba(0, 0, 0, .54);
}

.navBar {
  background: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: #fff;
}

.navBarLink {
  font-size: 16px;
  color: #fff;
}

.navBarActiveLink {
  color: greenyellow;
}

.logginButton {
  background: #fff;
  color: #000;
}

.navBarLinks {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ticket-list-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40px 2fr 100px 180px;
  height: 56px;
  padding: 0 16px;
  column-gap: 8px;
  align-items: center;
  justify-items: end;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.ticket-list-item-index {
  margin: auto;
}
.ticket-list-item-name {
  margin-right: auto;
  font-size: 16px;
}
.ticket-list-status {
  color: #1a2bbe;
}
.ticket-list-status-active {
  color: rgb(0, 126, 0);
}

.btn-Take-In {
  border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    display:-moz-grid;
    float:center;
}

summary {
  font-size: 18px;
  height: 56px;
}

